{%- extends 'lab/index.html.j2' -%}

{#
This is a custom template that extends the default lab HTML template
and overrides the cell blocks to include style attributes from cell metadata.
#}

{%- block any_cell scoped -%}
{%- if cell.metadata.style -%}
<div class="jp-Cell jp-{{ cell.cell_type | replace('_', '-') }}-Cell jp-Notebook-cell" style="{{ cell.metadata.style }}">
{%- else -%}
<div class="jp-Cell jp-{{ cell.cell_type | replace('_', '-') }}-Cell jp-Notebook-cell">
{%- endif -%}
  {{ super() }}
</div>
{%- endblock any_cell -%}
